# Google Maps Javascript API Key
# Replace with your actual key (e.g. AIzaSy...)
VITE_GOOGLE_MAPS_API_KEY=AIzaSyAulbJmcPryI8Q8MPHuIi2UoGzmmNZLgqk

# Supabase Cloud Database Configuration
VITE_SUPABASE_URL=https://mwmzebnpvrbzvdnqikzm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im13bXplYm5wdnJienZkbnFpa3ptIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkxNDg1MTUsImV4cCI6MjEwNDcyNDUxNX0.gWLfzHQJsJbe1RQyAQ2bZUQL03Bdmo_b7zoCZXXGFS8

# Backend FastAPI API Endpoint
VITE_API_URL=http://127.0.0.1:8000/api
